.modal {
  background-color: white;
  position: fixed;
  top: 11vh;
  right: 40%;
  left: 40%;
  /* margin: 0 auto; */
  padding: 50px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  z-index: 9999;
}
@media (max-width: 768px) {
  .modal {
    left: 10%;
    right: 10%;
    top: 130px;
  }
}
